version: '3'

services:
  wings:
    image: "kcapd/wings-base:latest"
    build:
      context: .
      dockerfile: wings-docker/docker/default/Dockerfile
    environment:
      WINGS_MODE: dind
    volumes:
      - wings_data:/opt/wings
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 7072:8080

volumes:
  wings_data:
