
.icon-wflow:before { content: '\e800'; } /* '' */
.icon-select:before { content: '\e801'; } /* '' */
.icon-add:before { content: '\e802'; } /* '' */
.icon-del:before { content: '\e803'; } /* '' */
.icon-add-alt:before { content: '\e804'; } /* '' */
.icon-del-alt:before { content: '\e805'; } /* '' */
.icon-select-alt:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-cancel-alt:before { content: '\e808'; } /* '' */
.icon-zoomIn:before { content: '\e809'; } /* '' */
.icon-zoomOut:before { content: '\e80a'; } /* '' */
.icon-docs:before { content: '\e80b'; } /* '' */
.icon-file:before { content: '\e80c'; } /* '' */
.icon-file-text:before { content: '\e80d'; } /* '' */
.icon-file-alt:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-chatAlt:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\e812'; } /* '' */
.icon-upload:before { content: '\e813'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-unlock:before { content: '\e815'; } /* '' */
.icon-unlockAlt:before { content: '\e816'; } /* '' */
.icon-desktop:before { content: '\e817'; } /* '' */
.icon-globe:before { content: '\e818'; } /* '' */
.icon-dropbox:before { content: '\e819'; } /* '' */
.icon-component:before { content: '\e81a'; } /* '' */
.icon-cube:before { content: '\e81b'; } /* '' */
.icon-cubes:before { content: '\e81c'; } /* '' */
.icon-runAlt:before { content: '\e81d'; } /* '' */
.icon-run:before { content: '\e81e'; } /* '' */
.icon-wrench:before { content: '\e81f'; } /* '' */
.icon-box:before { content: '\e820'; } /* '' */
.icon-folder-empty:before { content: '\e821'; } /* '' */
.icon-folder-open-empty:before { content: '\e822'; } /* '' */
.icon-edit:before { content: '\e823'; } /* '' */
.icon-home:before { content: '\e824'; } /* '' */
.icon-download-cloud:before { content: '\e825'; } /* '' */
.icon-upload-cloud:before { content: '\e826'; } /* '' */
.icon-snapshot:before { content: '\e827'; } /* '' */
.icon-user:before { content: '\e828'; } /* '' */
.icon-users:before { content: '\e829'; } /* '' */
.icon-lightbulb:before { content: '\e82a'; } /* '' */
.icon-block:before { content: '\e82b'; } /* '' */
.icon-sitemap:before { content: '\e82c'; } /* '' */
.icon-database:before { content: '\e82d'; } /* '' */
.icon-reload:before { content: '\e82e'; } /* '' */
.icon-list-alt:before { content: '\e82f'; } /* '' */
.icon-tasks:before { content: '\e830'; } /* '' */
.icon-magic:before { content: '\e831'; } /* '' */
.icon-list:before { content: '\e832'; } /* '' */
.icon-table:before { content: '\e833'; } /* '' */
.icon-input:before { content: '\e834'; } /* '' */
.icon-output:before { content: '\e835'; } /* '' */
.icon-param:before { content: '\e836'; } /* '' */
.icon-down:before { content: '\e837'; } /* '' */
.icon-down-alt:before { content: '\e838'; } /* '' */
.icon-up-alt:before { content: '\e839'; } /* '' */
.icon-up:before { content: '\e83a'; } /* '' */
.icon-help:before { content: '\e83b'; } /* '' */
.icon-machine:before { content: '\e83c'; } /* '' */
.icon-network:before { content: '\e83d'; } /* '' */
.icon-wflow-alt:before { content: '\e83e'; } /* '' */
.icon-flow-branch:before { content: '\e83f'; } /* '' */
.icon-folder:before { content: '\e840'; } /* '' */
.icon-folder-open:before { content: '\e841'; } /* '' */
.icon-save:before { content: '\e842'; } /* '' */